/* Rebecca's work navbar */

/* Tennisson's work NASA */

/* Patricia's work left-side */

/* Tamara's work right-side */
.card-body {
    background: rgb(240,248,255);
    background: linear-gradient(0deg, rgba(240,248,255,1) 47%, rgba(148,187,233,1) 100%);
}

.card-text {
    color: #4C516D;
}