
body{
    background-color: black;
    padding: 40px;
}


#star-sign{
    font-family: 'Martel', serif;
    color: #4353ab;
    font-size: 150px;
    font-family: 'Martel', serif;
}

button:hover{
    text-decoration: none;
}

#text-button {
    color:white;
    font-size: 40px;
}
.navbar{
    color: white;
    padding: 20px;
    border-bottom: #F2F2F2;
}

button {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    border: none !important;
    padding: 20px;
    padding-inline: 30px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 50px;
    
}

h1{
    font-size: 80px;
}
/* description area */
.card-body.absolute {
    background: rgb(240,248,255);
    background: linear-gradient(0deg, #4353ab63 27%, #0C1940 100%);
    padding-right: 30px;
    right: 8px;
    
}


.subheading {
    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 40px;

}
.card-text {
    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 30px;
}

.horoscope-container{
    margin: 200px;
    padding: 50px;
}

/* NASA */
body {
background-repeat:no-repeat;
background-size: cover;

    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 30px;

}