
body{
    background-color: black;
    padding: 40px;
}

#star-sign{
    font-family: 'Martel', serif;
    color: #BA38F2;
    font-size: 200px;
    font-family: 'Martel', serif;
}

button:hover{
    text-decoration: none;
}

.navbar{
    background-color: midnightblue;
    color: white;
    padding: 20px;
}

button {
    background-color: midnightblue;
    border-color: midnightblue;
    border-width: 10px;
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 50px;
    
}

h1{
    font-size: 80px;
}
/* description area */
.card-body {
    background: rgb(240,248,255);
    background: linear-gradient(0deg, #4353ab 27%, #0C1940 100%);
}

.subheading {
    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 40px;

}
.card-text {
    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 30px;
}

.horoscope-container{
    margin: 200px;
    padding: 50px;
}

/* NASA */
body {
background-repeat:no-repeat;
background-size: cover;

    font-family: 'Martel', serif;
    color: #F2F2F2;
    font-size: 30px;

}